DirectorySlash On

RewriteEngine On

RewriteCond %{REQUEST_URI} ^(.*)/
RewriteRule ^ - [E=BASE:%1]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^.]+)$ %{ENV:BASE}/$1.php [L]
